{originalImage && (
    <div className="flex flex-row">
      <div className="flex mt-4">
        <h3 className="text-xl font-semibold">Original Image:</h3>
        <img
          src={originalImage}
          className="max-w-xs max-h-xs mx-auto rounded-lg"
          alt="Original"
        />
        {processedImage == null ? (
          <div className="flex">
          <h3 className="text-xl font-semibold">Processed Image:</h3>
          <ReactLoading type="spinningBubbles" color="purple" />
          </div>
        ) : (
          <div className="flex mt-4">
            <h3 className="text-xl font-semibold">Processed Image:</h3>
            <img
              src={processedImage}
              className="max-w-xs max-h-xs mx-auto rounded-lg"
              alt="Processed"
            />
            {namesIdentified && (
              <div className=" flex mt-4">
                <h2>Persons Identified:</h2>
                <ul className="list-disc pl-4">
                  {namesIdentified.split('\r').map((name, index) => (
                    <li key={index}>{name}</li>
                  ))}
                </ul>
              </div>
            )}
          </div>
        )}
      </div>
    </div>
      )}